<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anahata</title>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>
    

    <h2>Anahata</h2>

</nav>
    <ul>
        <li><a href={% url "home" %}>Inicio</a></li>
        <li><a href={% url "Meditation" %}>Meditaciones</a></li>
        <li><a href={% url "login" %}>login</a></li>
    </ul>
</nav><!-- / nav -->



    {% block content %} {% endblock %}

</body>

</html>

