{% extends "login/base.html" %} 
{% load static %}
{% block content %}
 
<h1 class="is-size-2 has-text-centered has-text-green has-text-weight-bold">What has got you like this?</h1>

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">

      <!-- Firt column -->
      <div class="column is-3 has-text-centered">
        <div class="box">
          <img src="{% static 'imagen/cuarzos.jpg' %}" alt="cristal" width="550" height="550">
          <h3 class="is-size-4 title">Anxiety</h3>
          <p>Description of anxiety</p>
          <button class="button is-text">Clic</button>
        </div>
      </div>

      <!-- Second column -->
      <div class="column is-4 has-text-centered">
        <div class="box">
          <img src="{% static 'imagen/cuarzos.jpg' %}" alt="cristal" width="550" height="550">
          <h3 class="is-size-4 title">Tired</h3>
          <p>Description of tiredness</p>
          <button class="button is-text">Clic</button>
        </div>
      </div>

      <!-- Third column -->
      <div class="column is-3 has-text-centered">
        <div class="box">
          <img src="{% static 'imagen/cuarzos.jpg' %}" alt="cristal" width="550" height="550">
          <h3 class="is-size-4 title">Sadness</h3>
          <p>Description of sadness</p>
          <button class="button is-text">Clic</button>
        </div>
      </div>

      <!-- Fourth columna -->
      <div class="column is-12 has-text-centered">
        <div class="box">
          <h3 class="is-size-3 title">None of the last</h3>
          <button class="button is-text">Clic</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}