{% extends "login/base.html" %} 

{% block content %}

<h3>Inicio</h3>

<html>
    <head>
        <title>Los Mercados finacieros</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Factores que Influyen en las Tasas de Cambio</a></h1>
        </div>

        <div>
            <p>published: 28.08.2023</p>
            <h2><a href="">My first post</a></h2>
            <p>Las tasas de cambio en el mercado de divisas son influenciadas por una variedad de factores económicos, so políticos y sociales. Estos factores pueden ser complejos y a menudo interrelacionados</p>
        </div>

        <div>
            <p>published: 14.06.2023</p>
            <h2><a href="">My second post</a></h2>
            <p>Indicadores Económicos: Datos económicos como el Producto Interno Bruto (PIB), la tasa de desempleo, la inflación y el crecimiento económico influyen en las expectativas de los inversores sobre la salud económica de un país</p>
        </div>
    </body>
</html>

{% endblock %}