
{% extends "login/base.html" %}

{% block content %}
<div class="py-4"></div>

<div class="container has-text-centered"> 
    <div class="columns is-centered"> 
        <div class="column is-one-quarter"> 

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Renderiza el formulario de Django -->

                <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">Registrarse</button>
                    </p>
                </div>
            </form>

        </div>
    </div> 
</div> 
{% endblock %}



