

{% block content %}

<h3>Servicios</h3>
<html>
    <head>
        <title>Forex360: Navegando los Mercados Globales para el Éxito Financiero</title>
    </head>
    <body>
        
        <div>
            
            <h1 style="color:rgb(154, 75, 154)">  1. Forex Mastery: Forex Strategies to Dominatethe Markets</a></h1>
            <p>Boost your Financial Knowledge with Our Advisory Packages to Master the Markets</p>
            <img src="pictures/finanzas.jpg" alt="a hand with graphics">
            <li class="button">
                <button type="submit">Read More</button>
              </li>
        </div>

        <div>
            
            <h1 style="color:rgb(154, 75, 154)">2. How to manage Trading Platforms and Tools</a></h1>
            <p> MetaTrader, TradingView y Thinkorswim 
                
        <img src="pictures/tools.png" alt="graphics"> 
            <p>ofrecen una amplia gama de indicadores técnicos y herramientas de análisis gráfico para identificar patrones y tendencias.</p>

            <li class="button">
                <button type="submit" style="color: blueviolet;">Read More</button>
              </li>
        </div>
    </body>
</html>

{% endblock %}

