{% extends "login/base.html" %} 

{% block content %}

<h3>Servicios</h3>
<html>
    <head>
        <title>Forex360: Navegando los Mercados Globales para el Éxito Financiero</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Forex360: Navegando los Mercados Globales para el Éxito Financiero</a></h1>
        </div>

        <div>
            
            <h2><a href="">Estrategias de Forex para Dominar los Mercados</a></h2>
            <p>Maestría en Forex: Potencia tus Conocimientos Financieros con Nuestros Paquetes de Asesoría para Dominar los Mercados</p>
        </div>

        <div>
            
            <h2><a href="">Plataformas y Herramientas de Trading</a></h2>
            <p> herramientas como : MetaTrader, TradingView y Thinkorswim ofrecen una amplia gama de indicadores técnicos y herramientas de análisis gráfico para identificar patrones y tendencias.</p>
        </div>
    </body>
</html>

{% endblock %}

