
{% extends "login/base.html" %} 
{% load static %}
{% block content %}

<section class="hero is-fullheight">
  <img class= "has-background, is-transparent" src="{% static 'imagen/foto-test.jpg' %}" alt="meditationgirl" style="width: 100%; max-height: 450px;">
    <h1 class="title is-italic is-size-2 has-text-weight-medium has-text-black has-text-centered has-text-weight-bold">THE ONLY YOU´LL NEED</h1>
    <H2 class=" subtitle is-italic is-size-4 has-text-weight-small has-text-dark has-text-centered has-text-weight-bold" style="margin-top: 6px;"> Select Only for You!</H2>
</section>

</div>
<h5 class="title is-size-3 has-text-white has-text-centered has-text-weight-bold">Sadness Assessment</h5> 
<div class="py-4"></div>
  <p class="is-size-6 has-tex-green has-text-centered is-family-sans-serif"> On a scale from 1 to 10, how strongly do you feel that? </p>
<div class="py-3"></div>

<div style="max-width: 600px; margin: 0 auto;">
  <div class="section has-text-centered">
    <div class="select is-link">
      <select>
        <option>I don't feel sad</option>
        <option>I feel sad</option>
        <option>I feel very sad and I can't get out of it</option>
        <option>I'm so sad that I can't take it anymore</option>
      </select>
    </div>
  </div>
  

  <div style="text-align: center; margin-top: 20px;">
    <button class="button is-primary">Back</button>
    <button class="button is-primary">Next</button>
  </div>
</div>
<div class="py-6"></div>

    
{% endblock %}