
{% extends "login/base.html" %} 
{% load static %}
{% block content %}

<section class="hero is-fullheight">
  <img class= "has-background, is-transparent" src="{% static 'imagen/foto-test.jpg' %}" alt="meditationgirl" style="width: 100%; max-height: 450px;">
    <h1 class="title is-italic is-size-2 has-text-weight-medium has-text-black has-text-centered has-text-weight-bold">THE ONLY YOU´LL NEED</h1>
    <H2 class=" subtitle is-italic is-size-4 has-text-weight-small has-text-dark has-text-centered has-text-weight-bold" style="margin-top: 6px;"> Select Only for You!</H2>
</section>

</div>

{% if test %}
  <h5 class="title is-size-3 has-text-dark has-text-centered has-text-weight-bold">{{ test.name }}</h5>
  <div class="py-4"></div>
  
  {% for question in related_questions %}
    <div class="question-block">
      <p class="is-size-6 has-text-centered is-family-sans-serif">{{ question.statement }}</p>
      <div class="py-3"></div>
      <div style="max-width: 600px; margin: 0 auto;">
        <div class="section has-text-centered">
          <div class="select is-link">
            <select>
              <option value="1">1 - Not at all</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10 - Extremely</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="py-3"></div>
  {% endfor %}
  
  <div style="text-align: center; margin-top: 20px;">
    <button class="button is-primary">Back</button>
    <button class="button is-primary">Next</button>
  </div>
{% else %}
  <p>No test found.</p>
{% endif %}

    
{% endblock %}